@page
@model HackingProjekt.Pages.MoviesScafold.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Sletning af Anmendelse</h1>

<h3> Er du sikker på at ville slette denne anmendelse?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Udkomst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Udkomst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Aldersgrænse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Aldersgrænse)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movie.Id" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-page="./Index">Tilbage</a>
    </form>
</div>
