@page
@model HackingProjekt.Pages.MoviesScafold.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Movie.Title)</h1>

<div>
    <h4>Genre: @Html.DisplayFor(model => model.Movie.Genre)</h4>
    <h4>Af: @Html.DisplayFor(model => model.Movie.Forfatter)</h4>
    <h5>Film Udkomst: @Html.DisplayFor(model => model.Movie.Udkomst)</h5>
    <h5>Aldersgrænse: @Html.DisplayFor(model => model.Movie.Aldersgrænse)</h5>
    
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <div class="movie-review-container">
                @Html.Raw(Model.Movie.Andmenelse)
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Tilbage</a>
</div>


           